@using LaborServices.Web.Models
@model ServiceContractPerHour
@{
    ViewBag.Title = "SystemicPaymentMethod";
}

@section css{
    @Styles.Render("~/Content/site-DalalCrm-SystemicPaymentMethod")
}


<section class="SystemicPaymentMethod text-center my-5 ">
    <div class="container">
        <div class="content pb-5">
            <h2 class="pt-4 mb-3">@DbRes.T("ChoosePaymentMethod", "DalalResources")</h2>
            <p class="price mx-auto text-white mt-0 mt-md-3 mb-0"><b class="d-block">@Html.DisplayFor(m => Model.HourlyPricingCost.NetPrice)</b><small>@DbRes.T("SaudiCurrencyShort", "Shared")</small></p>
            <p class="d-block mb-5 mb-3">عقد <B>@Html.DisplayFor(m => Model.ContractNum)</B></p>

            <p><b>@DbRes.T("DearCustomer", "Shared") </b>  @Html.DisplayFor(m => Model.Customer)</p>
            <p>@DbRes.T("PleaseChooseYourPreferredPaymentMethodFortheContract", "DalalResources") <b>@Html.DisplayFor(m => Model.ContractNum)</b> </p>

            <a href='@Url.Action("SystemicPayOnline","DalalCrm",new { id = ViewBag.ContractId })' class='btn btn-primary btn-lg border-0 my-1'>
                @DbRes.T("PayOnline", "DalalResources") &nbsp;&nbsp;<i class='fa fa-cc-visa'></i>
            </a>

            <a href='@Url.Action("SystemicBankTransfer","DalalCrm",new { id = ViewBag.ContractId })' class='btn btn-gray btn-lg border-0 my-1 mr-sm-4 mr-0'>
                @DbRes.T("BankTransfer", "DalalResources") &nbsp;&nbsp;<i class='fa fa-money'></i>
            </a>

        </div>
    </div>
</section>



