@model LaborServices.Model.Branche

<style>
	.form-group .form-control {
		margin-bottom: 25px;
	}

	.redBorder, .redBorder:focus, .redBorder:active, .redBorder::selection {
		border: 1px solid red;
	}
</style>
<div id="getForm">
	<div>
		@using (Ajax.BeginForm("Create", "Branches", "", new AjaxOptions { OnSuccess = "success" }, new { enctype = "multipart/form-data", id = "MyForm" }))
		{
			@Html.AntiForgeryToken()
			<div class="" id="create">
				<div class="row">
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.NameAr)
							@Html.TextBoxFor(x => x.NameAr, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.NameAr) })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.NameEn)
							@Html.TextBoxFor(x => x.NameEn, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.NameEn) })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.LocationAr)
							@Html.TextAreaFor(x => x.LocationAr, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.LocationAr) })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.LocationEn)
							@Html.TextAreaFor(x => x.LocationEn, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.LocationEn) })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.PhoneNumber)
							@Html.TextAreaFor(x => x.PhoneNumber, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.PhoneNumber) })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.MapLink)
							@Html.TextAreaFor(x => x.MapLink, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.MapLink) })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.FaceBookLink)
							@Html.TextAreaFor(x => x.FaceBookLink, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.FaceBookLink) })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.InstagramLink)
							@Html.TextAreaFor(x => x.InstagramLink, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.InstagramLink) })
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-10">
							@Html.ValidationMessageFor(x => x.TwitterLink)
							@Html.TextAreaFor(x => x.TwitterLink, new { @class = "form-control", placeholder = @Html.DisplayNameFor(x => x.TwitterLink) })
						</div>
					</div>
				</div>
				<div class="text-right">
					<input type="submit" id="btnSave" class="btn btn-primary" style="width:90px;" value="حفظ" />
				</div>
			</div>
		}
	</div>
</div>