@model LaborServices.Web.Models.ChangePasswordViewModel

@{
    ViewBag.Title = DbRes.T("ChangePassword", "ProfileResources");
}

<section class="loginPage">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col mt-4 p-0">
                    <div class="bg-white text-dark rounded rounded-20px p-5 m-auto w-md-40">
                        <div class="text-center">
                            <div class="form-group h4 text-primary">@ViewBag.Title</div>
                            @using (Html.BeginForm("ChangePassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                            {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="form-group">
                                @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control rounded-0", placeholder = DbRes.T("OldPassword", "ProfileResources") })
                                @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control rounded-0", placeholder = DbRes.T("NewPassword", "ProfileResources") })
                                @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control rounded-0", placeholder = DbRes.T("ConfirmPassword", "ProfileResources")})
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group text-center">
                                <input class="btn btn-lg btn-block btn-info" type="submit" value='@DbRes.T("Change", "ProfileResources")' />
                            </div>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

