@model ResetPasswordViewModel
@{
    ViewBag.Title = DbRes.T("ResetPassword", "ProfileResources");
}

<section class="loginPage">
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col mt-4 p-0">
                    <div class="bg-white text-dark rounded rounded-20px p-5 m-auto w-md-40">
                        <div class="text-center">
                            <div class="form-group h4 text-primary">@ViewBag.Title</div>
                            @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.Code)
                        @Html.HiddenFor(model => model.PhoneNumber)

                        <div class="form-group">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control rounded-0", placeholder = DbRes.T("Password", "ProfileResources") })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-group">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control rounded-0", placeholder = DbRes.T("ConfirmPassword", "ProfileResources") })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                        </div>

                        <div class="form-group text-center">
                            <input class="btn btn-lg btn-block btn-info" type="submit" value="@DbRes.T("Reset", "ProfileResources")" />
                        </div>
}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
